/* esto es un prueba par agit */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* blogs */

#blog {
    height: auto;
    width: 100%;
    justify-content: center;
    background-color: var(--color-bg);
    padding: 0 20px;
    padding-top: 60px;
}

.blog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* padding-top: 40px; */
    padding-bottom: 80px;
    justify-content: center;
}

.blog-card {
    display: flex;
    width: 100%;
    height: 200px;
    max-width: var(--breakpoint-extra-large);
    padding: 2px 2px;
    border-radius: 12px;
    box-shadow: 0 0 12px #000;
}

.blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.blog-card img {
    width: 300px;
    border-radius: 12px;

}

.blogs .prev {
    padding: 20px;
}

.blogs a {
    color: var(--color-2);
    ;
    text-decoration: none;
    font-size: 18px;
    /* height: 67px; */
}

.blogs h3 {
    display: block;
    color: #03a9f4;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: system-ui;
    /* margin-bottom: 10px; */
}

@media only screen and (max-width: 540px) {
    #blog {
        width: 100%;
        padding: 0 14px;
        padding-top: 60px;
    }

    .blog-card {
        width: 100%;
        height: 84px;
        border-radius: 8px;
    }

    .blog-card img {
        width: 115px;

        border-radius: 8px;
    }

    .blogs .prev {
        padding: 2px;
    }

    .blogs a {
        font-size: 14px;
        /* height: 100%; */
    }

    .blogs h3 {
        font-size: 13px;
    }
}