#library-section {
    width: 100%;
    height: auto;
    background-color: var(--color-bg);
    padding-top: 60px;
}

#library-section .titulo h1 {
    padding: 0;
    font-size: 18px;
}

/* list content */
.libContainer {
    display: flex;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.libList {
    display: flex;
    width: 240px;
    height: calc(100vh - 100px);
    border-radius: 10px;
    border: solid 2px #aaa;
    padding: 5px;
    transition: all 0.3s;
}
.libList .listContent{
    width: auto;
    overflow: hidden;
}
.libList h1{
    font-family: 'Varela Round';
    color: rgb(144, 235, 247);
}
.libList li {
    padding: 4px;
    list-style-type: none;
}

.libList a {
    text-decoration: none;
    color: rgb(128, 181, 250);
    font-weight: 200;
    text-overflow: hidden;
}


.hide-list{
    font-size: 30px;
    width: 20px;
    color: #f0f;
    overflow: visible;
}
.hide-list:hover{
    color: aqua;
    cursor: pointer;
}
.activeList a {
    /* color: var(--color-4); */
}
/* lis hide */
.libList.contentHide{
    /* width: 100px; */
    transform: translateX(-195px);
    border: solid transparent;
}




/* grid list btn style */
.display-style-btns {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    max-width: var(--breakpoint-extra-large);
}

.display-style-btns button {
    border: none;
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.display-style-btns button:hover {
    color: var(--color-1);
}

.active-btn {
    color: var(--color-1);
}

/*  */



.library-container {
    /* width: calc(100% - 240px); */
    width: 100%;
    height: calc(100vh - 100px);
    border-radius: 10px;
    border: solid 2px rgb(100, 100, 100);
    margin: 0px auto;
    padding: 20px 0;
    margin-left: 10px;
    overflow: scroll;
}

.fileContent {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px 0;
    padding-bottom: 20px;

}

.fileContent::after {
    content: "";
    height: 5px;
    width: 98%;
    border-radius: 50vh;
    background-color: rgb(95, 95, 99);
}

.fileCard {
    display: grid;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    border: solid 2px rgb(114, 111, 111);
    font-size: 12px;
    transition: all 0.3s;
align-items: stretch;align-content: space-between;}
.fileCard .cover-file{
    width: 100%;
    height: 260px;
    background-color: rgb(14, 13, 13);
    background-image: url(/img/file_failed_icon.png);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.fileCard img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.fileCard .card-footer{
    display: flex;
    align-items: center;
    height: 38px;
    margin-bottom: 0px;
}
.fileCard .card-footer i{
    font-size: 25px;
    color: rgb(248, 58, 146);
}
.fileCard p {
    width: 100%;
    color: rgb(213, 186, 224);
    overflow: hidden;
}

.fileCard a {
    text-decoration: none;
}

.fileCard p:hover {
    display: flex;
    overflow: visible;
    text-overflow: inherit;
    width: auto;
    color: #fff;
    border-radius: 3px;
}

/* list active */
.library-container.listActive {
    flex-direction: column;
}
.library-container.listActive .fileContent{
    gap: 0px;
}

.library-container.listActive .fileCard {
    height: 38px;
    width: 90%;
    border: solid 1px rgb(114, 111, 111);
    border-left: transparent;
    border-right: transparent;
    border-radius: 0;
}
.library-container.listActive .fileCard .cover-file {
    display: none;
}

.library-container.listActive .fileCard .card-footer:hover{
    background-color: rgb(30, 48, 95);
}


.library-container.listActive .fileCard p:hover {
    /* background-color: rgb(30, 36, 73); */
    color: none;
    /* border-radius: 3px; */
    /* padding: 5px 3px; */
}