#iframe-section{ 
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--color-bg);
}
.iframe-container{
    position: relative;
    height: 90%;
    width: 90%;
    max-width: calc(var(--break-point-extra-large) + 65px);
    border-radius: 15px;
    border: solid 2px rgb(0, 110, 255);
    margin: 0px auto;
    top: 60px;
}
.iframe-container iframe{
    border-radius: 15px;
}