#iframe-section{ 
    width: 100%;
    height: calc(100vh - 60px);
    background-color: var(--color-bg);
}
.iframe-container{
    position: relative;
    height: 90%;
    width: 90%;
    max-width: calc(1100px);
    border-radius: 15px;
    border: solid 2px rgb(0, 110, 255);
    margin: 0px auto;
    top: 60px;
}
.iframe-container iframe{
    border-radius: 15px;
}


@media only screen and (max-width: 800px) {
    .iframe-container{
        width: 95%;
    }
}