@media only screen and (max-width: 1140px) {
    nav ul li a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1020px) {
    .search {
        display: none;
    }
}

/* ====== responsive mobile ===== */
@media only screen and (max-width: 800px) {
    .navbar {
        position: fixed;
        display: flex;
        height: 50px;
        width: 96%;
        align-items: center;
        background-color: var(--color-nav);
        border: solid 2px var(--color-1);
        border-radius: 50vh;
        margin: 5px 7px;
        justify-content: center;
        box-shadow: 0 0 10px var(--color-1);
        z-index: 99;
    }

    .navbarm {
        display: flex;
        width: 100%;
        /* align-content: space-around; */
        /* z-index: 2; */
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        width: 5%;
        padding-left: 10px;
        color: var(--color-5);
        z-index: 99;
    }

    .pad {
        display: block;
        cursor: pointer;
        width: 40px;
        height: 95%;
        right: 10px;
        position: absolute;
        z-index: 99;
    }

    .pad span {
        background-color: var(--color-5);
        display: block;
        height: 4px;
        width: 28px;
        margin: 8px auto;
        border-radius: 2px;
    }

    /* navvvv */
    .nav {
        background: var(--color-nav);
        width: 100%;
        height: 920px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        flex-wrap: wrap;
        align-items: center;
        transition: all 0.2s;
        position: inherit;
    }

    .nav-menu-visible {
        transform: translate(0px, -920px);
    }
    .navbarli {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px 10px;
        width: 70%;
        margin: auto;
        height: 100%;

    }

    .navbarli li {
        border: 2px solid #837d83;
        border-radius: 50vh;
        padding: 8px 15px;
        justify-content: center;
        margin: 5px 0px;
    }

    nav ul li a {
        background: transparent;
        color: var(--color-1);
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
        position: relative;

    }

    .search-container {
        position: fixed;
        margin-left: 120px;
        z-index: 100;
    }
    .banner {
        display: flex;
        height: 90vh;
        width: 100%;
        background-color: var(--color-bg);
        background-size: 100% 100%;
        overflow: hidden;
        background-position: center;
    }

    .home-text {
        color: #fff;
        background: rgba(0, 0, 0, .6);
        margin: 50px auto;
        margin-top: 100px;
        max-width: 95%;
        max-height: 60%;
        border-radius: 20px 20px;
    }

    .home-text h1 {
        padding-top: 20px;
        color: #00ffc8;
        text-align: center;
        font-size: 30px;
        margin: 20px 0px 10px 0;
        text-shadow: 1px 1px 10px black, 0 0 1em rgb(0, 0, 0), 0 0 .5em rgb(0, 0, 0);
    }

    .home-text h2 {
        align-content: center;
        color: #eeff00;
        background: transparent;
        text-align: center;
        font-size: 20px;
        margin: 20px 0 20px 0 20px;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;
        align-items: center;
    }

    footer-copyrigth {
        height: 60px;
    }

    footer h2 {
        font-family: 'Courier New', Courier, monospace;
        color: var(--color-3);
        font-size: 12px;
    }

    footer h3 {
        font-family: 'Courier New', Courier, monospace;
        color: var(--color-3);
        font-size: 10px;
    }
}