@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url(../assets/boxicons.min.css);
:root {
  --color-1: #0ff;
  --color-2: #6993fd;
  --color-3: #001aff;
  --color-4: #ff00a5;
  --color-5: #ff5e00;
  --color-6: #ffff00;
  --color-bg: #0b0b24;
  --color-nav-bg: #11002e;
  --color-nav: #00eeff;
  --color-nav-hover: #fbff00;
  --color-nav-after-hover: #ff5e00;
  --color-input: #fcd6e9d0;
  --color-nav-movile: #24045c;
  --color-card-border: #666;
  --color-shadow: #000000;
  --color-footer: #04040c;
  --breakpoint-extra-large: 992px;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(11, 1, 39);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 4px rgb(252, 252, 252);
}

::-webkit-scrollbar-thumb {
  background: var(--color-1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-5);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

#preloader {
  background-color: #000;
  background-image: url(../img/preloader.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.titulo h1 {
  font-family: "Varela Round";
  padding: 20px 10px;
  color: #00ffc8;
  font-size: 2rem;
  font-weight: bolder;
}

.dark-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-5);
  border: 2px solid #00eeff;
  border-radius: 50vh;
  height: 27px;
  width: 27px;
  font-size: 17px;
}
.dark-mode:hover {
  cursor: pointer;
}

/* ===MENU==== */
.navbar {
  position: fixed;
  display: flex;
  height: 40px;
  width: calc(100% - 5px);
  background-color: #00031edb;
  /* border: solid 2px var(--color-1); */
  border-radius: 50vh;
  margin: 3px 5px;
  justify-content: center;
  box-shadow: 0 0 10px var(--color-1);
  backdrop-filter: blur(5px);
  z-index: 20;
  transition: all ease-in 0.2s;
}

.logo {
  display: flex;
  align-items: center;
  width: 5%;
  padding-left: 10px;
}

.logo img {
  width: 45px;
}

.logo a {
  font-family: "Varela Round", sans-serif;
  text-decoration: solid;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 2px 0 0;
  color: var(--color-5);
}

.nav {
  display: flex;
  padding: 0px 5px;
  width: 95%;
  justify-content: space-between;
}

.navbarli {
  display: flex;
  background: transparent;
  list-style-type: none;
}

nav ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
  position: relative;
  padding: 0px 7px;
}
nav ul li a {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  color: var(--color-nav);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  letter-spacing: 1px;
}

#nav li .menu.active {
  color: var(--color-nav-hover);
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: var(--color-nav-bg);
  border-radius: 10px;
  width: 210px;
  height: 94px;
  top: 36px;
  box-shadow: 0 0 10px #000;
  border: 1px solid #5e61d5;
  transition: all 0.3s;
  z-index: 100;
}
nav ul li ul::after {
  display: none;
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #5e61d5;
  border-top: 5px solid #5e61d5;
  border-right: 5px solid transparent;
  transform: rotate(45deg);
  top: -5px;
  left: 20px;
  z-index: 100;
}
nav ul li ul a {
  margin: 5px 0;
}

nav ul li:hover > ul {
  display: block;
}
nav ul li:hover > ul::after {
  display: block;
}

/* hover border botton */
nav a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  border-bottom: solid 4px var(--color-nav-after-hover);
  color: var(--color-5);
  left: 50%;
  bottom: -4px;
  transition: all 0.2s ease-in-out;
}
nav li:hover a::after {
  width: 100%;
  left: 0;
}
nav ul li a:hover {
  color: var(--color-4);
  transition: 0.3s;
}
/* hover nav child */
nav li ul a::after {
  display: none;
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  border-bottom: solid 4px var(--color-nav-after-hover);
  color: var(--color-4);
  left: 50%;
  bottom: -4px;
  transition: all 0.2s ease-in-out;
}
nav li ul li:hover a::after {
  display: block;
  width: 100%;
  left: 0;
}
nav ul li a:hover {
  color: var(--color-nav-hover);
  transition: 0.3s;
}

/* =====SEARCH COMPONENT===== */

.search {
  display: flex;
  width: 180px;
  justify-content: center;
}

.searchTerm {
  width: 100%;
  border-radius: 50vh;
  background: var(--color-1);
  border: solid 3px var(--color-5);
  height: 26px;
  outline: none;
  padding: 0 8px;
}

.searchTerm:focus {
  color: #000000;
}

.searchButton {
  position: absolute;
  height: 30px;
  background-color: transparent;
  border: transparent;
  color: var(--color-5);
  cursor: pointer;
  font-size: 20px;
  right: 16px;
}

/*Resize the wrap to see the search bar change!*/
.search-container {
  display: flex;
  align-items: center;
  padding-right: 3px;
}

.search-container a {
  font-size: 26px;
  padding: 3px;
  color: var(--color-3);
  transition: all 0.2s;
}

.search-container a:hover {
  font-size: 30px;
  color: var(--color-4);
}

.pad.bx.bx-menu {
  display: none;
}

/* =====SEARCH COMPONENT END===== */

/* =====END MENU======= */

#secction {
  background-color: var(--color-bg);
  background-size: cover;
}

.btn-float {
  display: flex;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  border: solid 1px transparent;
  border-top-left-radius: 50vh;
  border-bottom-left-radius: 50vh;
  border-bottom-right-radius: 50vh;
  background-color: #00ff15;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px #000000;
  transition: all 0.2s;
  z-index: 99;
}

.btn-float i {
  font-size: 40px;
}

.btn-float:hover {
  width: 70px;
  height: 70px;
  background-color: #008b2e;
}

/* mouse indicator */
.mouse-icon {
  width: 25px;
  height: 45px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  position: absolute;
  box-shadow: inset 0 0 10px rgb(0, 0, 0);
  bottom: 10px;
  right: calc(50vw - 12px);
  text-align: center;
  margin: 0px auto;
}
.mouse-wheel {
  height: 6px;
  margin: 2px auto 0;
  display: block;
  width: 3px;
  background-color: rgb(197, 197, 197);
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
}
@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
@-moz-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}

/* MAIN */
#home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../img/bg-03.png);
  background-size: 100% 100%;
  background-position: center;
}

.banner {
  display: flex;
  height: calc(100vh-50px);
  width: 100%;
  overflow: hidden;
  background-position: center;
}

.home-text {
  background: rgb(6 4 18 / 57%);
  margin: 20vh auto;
  padding: 20px;
  max-width: 60%;
  max-height: 60%;
  border-radius: 20px 20px;
  box-shadow: 0 0 15px rgb(0 0 0 / 68%);
}

.home-text h1 {
  font-family: "Varela Round", sans-serif;
  color: #00ffc8;
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 1px 10px black, 0 0 1em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
}

.home-text h1 span {
  color: var(--color-5);
  font-family: "Varela Round", sans-serif;
}

.home-text ul {
  padding-left: 50px;
}
.home-text li {
  font-family: "Varela Round", sans-serif;
  color: var(--color-2);
  padding: 5px 0;
  font-size: 30px;
  font-weight: bold;
}

/* END MAIN */

/* ===services ==== */
.titulo {
  margin: auto;
  width: 100%;
  height: auto;
  max-width: var(--breakpoint-extra-large);
  z-index: 20;
}

.titulo h2 {
  position: relative;
  top: 0px;
  font-family: "Varela Round";
  padding: 20px 10px;
  color: #00ffc8;
  font-size: 2rem;
  font-weight: bolder;
  z-index: 10;
}

#services {
  position: relative;
  height: auto;
  max-width: 100%;
  padding: 0px 20px;
  padding-bottom: 20px;
  background: var(--color-bg);
  transition: all ease-in 0.2s;
  overflow: hidden;
}

#services .services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
  grid-gap: 80px 40px;
  max-width: var(--breakpoint-extra-large);
  height: auto;
  margin: auto;
  justify-items: center;
}
.video-background {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
}

.card-services {
  height: 300px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 10px var(--color-shadow);
  background-color: var(--color-bg);
  border: solid 2px var(--color-card-border);
  overflow: hidden;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  z-index: 10;
}
.card-services:hover {
  position: relative;
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.05);
}
.card-services .card-cover {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.card-cover img {
  width: 100%;
  height: 100%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
.card-services img:hover {
  position: relative;
  transform: scale(1.2);
}
.card-title {
  position: relative;
  top: -20px;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 221, 255, 0) 0%, rgb(5, 4, 24) 20%);
  align-items: center;
  justify-content: center;
}
.card-title h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  color: var(--color-2);
  text-align: center;
  padding: 12px 0;
}

/* ======project===== */
#projects {
  position: relative;
  height: auto;
  background-color: var(--color-bg);
  padding: 0 20px;
  padding-bottom: 100px;
  justify-content: center;
  transition: all ease-in 0.2s;
  overflow: hidden;
}

#projects .projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
  grid-gap: 80px 40px;
  max-width: var(--breakpoint-extra-large);
  /* justify-content: space-around; */
  height: auto;
  margin: auto;
  justify-items: center;
}
#projects .video-proj {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
.card-proj {
  width: 300px;
  border-radius: 10px;
  transition: all ease-in 0.2s;
  border: solid 1px #aaa;
  overflow: hidden;
  z-index: 10;
  background-color: var(--color-bg);
}
.card-proj:hover {
  position: relative;
  border: solid 1px #000;
  box-shadow: 5px 5px 10px #000000;
  background-color: var(--color-bg);
  transform: scale(1.1);
  z-index: 12;
}
.card-proj .image-cover {
  height: 200px;
  background-color: #000;
  overflow: hidden;
  text-align: center;
}
.image-cover img {
  width: 100%;
  height: 200px;
}
.card-proj-footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  text-align: center;
  color: var(--color-2);
}
.card-footer1 img {
  height: 15px;
}
.card-proj .card-footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  bottom: 0px;
}

.card-proj .card-footer1 h3 {
  font-family: "Sourse Sans Pro", sans-serif;
  font-size: 15px;
  padding: 5px 0;
  text-align: center;
}

.card-proj .btn-card {
  height: 30px;
  padding: 5px 5px;
  background-color: rgba(3, 4, 83, 0.363);
  color: var(--color-1);
  cursor: pointer;
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  font-size: 1.2rem;
  z-index: 1;
}

.card-proj .btn-card:hover {
  background-color: #444;
}

/* ===============box modal ==================*/
.box-modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.897);
  z-index: 20;
}
.box-modal.hide {
  display: none;
}
.hide {
    display: none;
}
.box-modal-project {
  position: relative;
  bottom: 0px;
  border-radius: 10px;
  background-color: rgba(89, 89, 94, 0.87);
  box-shadow: 0 0 10px #000;
  width: 60%;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close-box {
  position: absolute;
  top: -0px;
  right: -35px;
  display: flex;
  justify-content: right;
  border-radius: 50vh;
  background-color: #656868d2;
}
.close-box .bx {
  color: #1d36e9;
  font-size: 2rem;
  cursor: pointer;
}

/* Slideshow container */
.slideshow-container {
  border-radius: 10px;
  position: relative;
  margin: auto;
}
.mySlides {
    border-radius: 10px;
    height: auto;
}
.numbertext {
  color: #f2f2f2;
  font-size: 1.2rem;
  padding: 8px 12px;
  position: absolute;
  text-shadow: 2px 2px #000;
  top: 0;
}
.img-slide {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.imgs {
  border-radius: 10px;
  width: 100%;
}

/* Hide the images by default */
.imgHide {
  display: none;
}




.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 0, 0, 0.288);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  /* background-color: #717171; */
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ================CONTACTOS==================== */

#contact {
  background-color: rgb(15, 15, 51);
  padding: 0 20px;
}

.contact-container {
  display: flex;
  width: 60%;
  max-width: var(--breakpoint-extra-large);
  margin: auto;
  justify-content: space-between;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 0;
  height: 180px;
  width: 186px;
  border-radius: 15px;
  border: 2px solid var(--color-card-border);
  transition: all ease-in 0.5s;
}
.contact-card:hover {
  background-image: radial-gradient(
    rgba(167, 6, 253, 0.24) 10%,
    rgba(0, 0, 255, 0.026) 80%
  );
  /* background-color: #00eeff; */
}
.contact-card a {
  font-size: 60px;
  color: var(--color-3);
  margin-bottom: 25px;
  transition: all ease-in 0.3s;
}
.contact-card a:hover {
  position: relative;
  transform: translateY(-10px) scale(1.2);
}
.contact-card h2 {
  font-size: 18px;
  color: #6b6baa;
}

.contact-card h3 {
  font-size: 15px;
  color: #9d36a7;
}

footer-copyrigth {
  width: 100%;
  height: 80px;
  background-color: var(--color-footer);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  bottom: 0px;
}

footer h2 {
  font-family: "Courier New", Courier, monospace;
  color: var(--color-3);
  font-size: 18px;
}

footer h3 {
  font-family: "Courier New", Courier, monospace;
  color: var(--color-3);
  font-size: 15px;
}

footer span {
  color: var(--color-5);
}

/* From uiverse.io by @mrhyddenn */
/* .card-services .btn{
    color: var(--color-1);
    text-decoration: none;
    padding: 5px 10px;
    transform: translate(10px, 10px);
    border-radius: 50vh;
    transition: all 0.3s;
} */
.btn {
  font-family: "Varela Round", Courier, monospace;
  position: relative;
  padding: 8px 15px;
  border-radius: 50vh;
  text-decoration: none;
  border: 2px solid rgb(61, 106, 255);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 10px 2px rgba(0, 142, 236, 0.815);
  border: 2px solid rgb(183, 200, 255);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn:hover::before {
  -webkit-animation: sh02 0.3s 0s linear;
  -moz-animation: sh02 0.3s 0s linear;
  animation: sh02 0.2s 0s linear;
}

.btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 30px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.card-services:hover {
  background-position: right center;
  border: 2px solid #00eeff;
  background-size: 200% auto;
  background-color: #292950;
  -webkit-animation: pulse 2s;
  animation: pulse512 1s;
  /* box-shadow: 0 0 20px #05baff88; */
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05baff88;
  }

  70% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.span2 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(#03031fad 0%, #03031fd2 70%);
  z-index: 1;
}
