/* === VARIABLES GLOBALES === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html { font-size: 16px; }

:root {
    --primary:#023047;
    --secondary:#0abce9;
    --tertiary:#84d8ff;
    --accent:#ffb703;
    --accent-dark:#fb8500;

    --bg:#0b0b24;
    --bg-nav:var(--primary);
    --card-bg:#374151;
    --bg-overlay:rgba(11, 11, 36, 0.71);
    --card-bg-gradient:linear-gradient(135deg, var(--primary) 0%, rgba(255,255,255,.5) 100%);
    --text:#f3f4f6;

    --radius:10px;
    --shadow:0 5px 15px rgba(0, 0, 0);
    --shadow-hover:0 10px 30px rgba(0,0,0,0.6);

    --bg-light:#b3b3b367;
    --card-light:#fff;
    --card-light-bg:linear-gradient(135deg, var(--tertiary) 0%, rgba(255,255,255,.5) 100%);
    --text-light:#2c3e50;
    --light-secondary-text:#6b7280;
}
/* MODIFICACION AL SCROLL BAR  */
/* Ancho del scrollbar */
/* Chrome / Edge / Opera */
::-webkit-scrollbar{width:8px}
::-webkit-scrollbar-track{background: var(--primary)}
::-webkit-scrollbar-thumb{background:var(--secondary); border-radius:8px}
::-webkit-scrollbar-thumb:hover{background: var(--accent)}


/* === BASE === */
body {
    margin:0;
    font-family:'Varela Round',sans-serif;
    background:var(--bg);
    color:var(--text);
    line-height:1.6;
    transition:background .5s,color .5s;
}

.container {
    max-width:1080px;
    margin:auto;
    padding:2rem 1.5rem;
    border-bottom:2px solid var(--secondary);
}

h2 {
    font-size:2rem;
    color:var(--accent);
    margin-bottom:2rem;
    text-align:center;
}
h3 {
    color:var(--accent-dark);
    font-size:1.5rem;
    margin-bottom:1rem;
}

/* === HEADER === */
header {
    background-image:url(./img/portadas/portada-bg.jpg);
    background-size:100% 100%;
    background-position:center;
    color:var(--bg);
    padding:5rem 2rem;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,.2);
    animation:fadeInHeader 1s ease-out;
}
header h1 {
    font-size:2.5rem;
    font-weight:700;
    text-shadow:4px 4px 4px #fff;
}
header h1 span {
    color:var(--accent-dark);
    text-shadow:4px 4px 4px #000;
}
header p { font-size:1.5rem; opacity:.9; }

@keyframes fadeInHeader {
    from { opacity:0; transform:translateY(-20px); }
    to { opacity:1; transform:translateY(0); }
}

/* === NAV === */
nav {
    position:sticky;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1200px;
    margin:auto;
    padding:0.5rem 1rem;
    background:var(--bg-overlay);
    box-shadow:var(--shadow);
    backdrop-filter:blur(5px);
    z-index:100;
    border-radius:0 0 var(--radius) var(--radius);
    border-bottom: 3px solid var(--secondary);
}
.nav-links { display:flex; gap:1.5rem; }
nav a {
    color:var(--secondary);
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}
nav a:hover { color:var(--accent); text-shadow: 2px 2px 4px var(--accent-dark); transform:translateY(-2px); }

.btn,.back-button {
    display:inline-block;
    padding:0.8rem 1.6rem;
    border-radius:var(--radius);
    font-weight:700;
    cursor:pointer;
    transition:.3s;
    text-decoration:none;
}

#modoOscuroBtn {
    font-size: 1.5rem;
    background:none;
    color:var(--primary);
    border:1px solid var(--secondary);
    border-radius: var(--radius);
    cursor: pointer;

}
#modoOscuroBtn:hover {
    background:var(--primary);
}

/* === BOTONES GENERALES === */
.btn {
    background:var(--accent);
    color:var(--primary);
    box-shadow:0 4px 6px rgba(0,0,0,.1);
}
.btn:hover {
    background:var(--accent-dark);
    color:#fff;
    box-shadow:0 0 10px 2px var(--accent);
}
.back-button { background:var(--accent); color:var(--primary); }
.back-button:hover { background:var(--accent-dark); color:#fff; }

/* === SOBRE MI === */
#sobre-mi { text-align:center; }
.foto-perfil {
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
    margin:1rem auto 2rem;
    display:block;
    box-shadow:var(--shadow);
}

/* === TARJETAS === */
.card,
.proyecto {
    background:var(--card-bg-gradient);
    border-radius:var(--radius);
    box-shadow:var(--shadow);
    transition:.4s;
}

.card { padding:2.5rem; margin-bottom:2rem; }

.proyecto {
    display:flex;
    gap:1rem;
    align-items:center;
    margin-bottom:2.5rem;
    padding:1.5rem;
    animation:slideInProject .8s ease-out;
}
.proyecto:hover { transform:translateY(-5px); box-shadow:var(--shadow-hover); }

@keyframes slideInProject {
    from { opacity:0; transform:translateY(20px); }
    to { opacity:1; transform:translateY(0); }
}

.proyecto img {
    width:45%;
    border-radius:var(--radius);
    object-fit:cover;
    border:2px solid var(--secondary);
}
/* === TAGS === */
.tags { margin:1rem 0; display:flex; flex-wrap:wrap; gap:.2rem; }
.tag {
    background:var(--secondary);
    color:#fff;
    padding:0 .5rem;
    border-radius:4px;
    font-size:.8rem;
}

/* === FECHA === */
.fecha-publicacion {
    font-size:.95rem;
    color:#666;
    display:flex;
    align-items:center;
    gap:.5rem;
}
.fecha-publicacion strong { color:var(--secondary); }

/* === CONTROLES === */
.controles-proyectos {
    margin-bottom:2.5rem;
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    padding:1rem 0;
    border-bottom:1px solid var(--secondary);
}
.filtros-container { display:flex; flex-wrap:wrap; gap:.75rem; }
.filtro-btn {
    padding:.6rem 1.2rem;
    background:var(--bg);
    color:var(--text);
    border:1px solid var(--secondary);
    border-radius:25px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}
.filtro-btn:hover:not(.active) { color:var(--accent-dark); transform:scale(1.05); }
.filtro-btn.active {
    background:var(--primary);
    color:#fff;
    border-color:var(--primary);
}

#ordenar, #buscador {
    padding:0.5rem 1rem;
    border:1px solid var(--secondary);
    border-radius:var(--radius);
    background:var(--card-bg);
    color:var(--text);
}
#buscador:focus {
    outline:none;
    border-color:var(--secondary);
    box-shadow:0 0 0 2px var(--accent);
}
.buscador-container #buscador {
    font-size: 1rem;
    padding: 0.6rem 1rem;
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

/* === COMPETENCIAS === */
.competencia-list {
    padding:0;
    margin-left:5rem;
}
.software-grid { display:flex; flex-wrap:wrap; gap:.5rem; }
.software-badge {
    background:var(--secondary);
    color:#0b0b24;
    padding:.2rem .5rem;
    border-radius:7px;
    font-weight:600;
    font-size:.9rem;
}

.curriculum-card {
    background: transparent;
    text-align: center;
    /* padding: 3rem 2rem; */
    border-radius: 0;
    box-shadow: none;
}
.btn-download {
    display:inline-flex;
    gap:.8rem;
    padding:1.2rem 2.5rem;
    background:var(--accent);
    border-radius:30px;
    font-weight:600;
    text-decoration: none;
    transition:.3s;
}
.btn-download:hover {
    transform:translateY(-3px);
    box-shadow: 0 0 10px 2px var(--accent);
}

/* === CONTACTO === */
.contact-links-grid {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1.5rem;
}
.contact-link {
    display:flex;
    align-items:center;
    gap:.8rem;
    padding:1rem;
    border-radius:var(--radius);
    text-decoration:none;
    font-weight:600;
    transition:.3s;
    background:var(--primary);
    color:var(--text);
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}
.contact-link:hover { transform:translateY(-3px); background: var(--accent-dark); }

/* === FOOTER === */
footer {
    background:var(--primary);
    color:var(--text);
    text-align:center;
    padding:1.5rem;
    border-top:3px solid var(--accent);
    font-size:.9rem;
}

/* === MODO CLARO === */
body.light {
    background:var(--bg-light);
    color:var(--text-light);
}
body.light .card,
body.light .proyecto {
    background:var(--card-light-bg);
    box-shadow:var(--shadow-light);
    border:1px solid rgba(132,216,255,.3);
}
body.light nav a { color:var(--accent-dark); }
body.light nav a:hover { color:var(--accent); }

/* === RESPONSIVE === */
@media (max-width:768px) {
    html { font-size:12px; }
    .proyecto { flex-direction:column; }
    .proyecto img { width:100%; margin-top:1rem; }

    nav { flex-direction:column; gap:1rem; }
    .nav-links { flex-wrap:wrap; justify-content:center; }
    .contact-links-grid { grid-template-columns:1fr; }
}
