/* esto es un prueba par agit */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root{
    --color-1: #0ff;
    --color-2: #6993fd;
    --color-3: #2f00ff;
    --color-4: #ff00a5;
    --color-5: #ff5e00;
    --color-input: #fa1185d0;
    --color-nav: #1a1f47;
    --color-bg: #404258;
}

/* blogs */

#blog{
    height: auto;
    width: 100;
    justify-content: center;
    background-color: var(--color-bg);
    padding-top: 60px;
}
.blog-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 40px;
    justify-content: center;
}
.blogs{
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
}
.blog-card{
    display: flex;
    width: 80%;
    height: 250px;
    padding: 10px 0;
    background-color: rgba(0, 3, 192, 0.2);
    border-radius: 20px;
    border-bottom: 1px solid #f0f;
    border-top: 1px solid #f0f;

}
.blog-card img{
    width: 400px;
    border-radius: 20px;

}





@media only screen and (max-width: 1140px) {
    nav ul li a{
        font-size: 12px;
    }
}
@media only screen and (max-width: 990px){
    .search-container{
        display: none;
    }
}

/* ====== responsive mobile ===== */
@media only screen and (max-width: 800px) {
    .blog-card{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 300px;
        padding: 10px 0;
        background-color: var(--color-2);
        border-radius: 20px;
        border-bottom: 1px solid #f0f;
    
    }
    .blog-card img{
        width: 100%;
        border-radius: 20px;
    
    }
}